registry=http://yicksolutions.ddns.net:81/npm/private
//yicksolutions.ddns.net:81/npm/:_password="NjM0emQ0MTFwTHMzMjhLODdyMmJZbmlmaHNTUVBKM20="
//yicksolutions.ddns.net:81/npm/:username=internship
//yicksolutions.ddns.net:81/npm/:email=internship@yicksolutions.com
//yicksolutions.ddns.net:81/npm/:always-auth=true
